---
layout: onlyText
title: L'Aubépine Calendrier
---

<h1>Calendrier</h1>
<ul class="main_paragraph">
	<li><h2>2020</h2></li>
<li>23/08/20 - 14h - Entre deux eaux, sieste sonore en espace ouvert - Mauvaisin (31) - <a target="_blank" href="http://lapoutre.festival.free.fr/2020/#Programme">Festival La Poutre</a></li>
<li>24/05/20 - 11h - Entre deux eaux, sieste sonore en espace ouvert - Marseille (13) - festival les Cancans</li>
	<li>06/02/20 - 18h30 - Rencontre organisée par ARTCENA et la FAI-AR « La ressource et la trace, inspirations pour la création contemporaine » - <a target="_blank" href="https://www.artcena.fr/services-et-accompagnement/ateliers-et-evenements-ARTCENA">Artcena</a></li>
	<li><h2>2019</h2></li>
	<li>12/10/19 - la Journée d'automne, journée artistique, culturelle et associative organisée par l'Aubépine</li>
	<li>14 > 15/09/19 - Laps, poème de cendre et de bruit - Ramonville (31) - <a target="_blank" href="https://www.festivalramonville-arto.fr/programmation/festival-2019">Festival de Ramonville</a></li>
	<li>25 > 28/07/19 - Laps, poème de cendre et de bruit - Chalon-sur-Saône (71) - <a target="_blank" href="http://www.chalondanslarue.com/spectacles/aubepine-cie-l/">Chalon dans la Rue</a></li>
	<li>18 > 19/07/19 - Laps, poème de cendre et de bruit - Lodève (34) - <a target="_blank" href="https://www.festival-resurgence.fr/evenement/laps">Festival Résurgence</a></li>
	<li>27/06/19 - Matières et paysages - restitution de la résidence en milieu scolaire - La Bastide de Sérou (09)</li>
	<li>08 > 09/06/19 - Laps, poème de cendre et de bruit - Capdenac Gare (12) - l'Autre Festival - <a target="_blank" href="http://www.derriere-le-hublot.fr/spip.php?article554">Derrière Le Hublot</a></li>
	<li>01 > 02/03/19 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
	<li>25 > 26/01/19 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
	<li><h2>2018</h2></li>
	<li>09 > 10/11/18 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a ta > 15/09/19 - Laps, poème de cendre et de bruit - Ramonville (31) - <a target="_blank" href="https://www.festivalramonville-arto.fr/programmation/festival-2019">Festival de Ramonville</a></li>
	<li>25 > 28/07/19 - Laps, poème de cendre et de bruit - Chalon-sur-Saône (71) - <a target="_blank" href="http://www.chalondanslarue.com/spectacles/aubepine-cie-l/">Chalon dans la Rue</a></li>
	<li>18 > 19/07/19 - Laps, poème de cendre et de bruit - Lodève (34) - <a target="_blank" href="https://www.festival-resurgence.fr/evenement/laps">Festival Résurgence</a></li>
	<li>27/06/19 - Matières et paysages - restitution de la résidence en milieu scolaire - La Bastide de Sérou (09)</li>
	<li>08 > 09/06/19 - Laps, poème de cendre et de bruit - Capdenac Gare (12) - l'Autre Festival - <a target="_blank" href="http://www.derriere-le-hublot.fr/spip.php?article554">Derrière Le Hublot</a></li>
	<li>01 > 02/03/19 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
	<li>25 > 26/01/19 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
	<li><h2>2018</h2></li>
	<li>09 > 10/11/18 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
	<li>07 > 08/11/18 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-auberget="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
	<li>07 > 08/11/18 - Dans le vif, mise en scène de l'ordinaire - Noyant Villages (49) - <a target="_blank" href="http://www.lapaperie.fr/soutien-creation/projets/l-aubepine-alban-de-tournadre">La Paperie</a></li>
</ul>
