---
layout: onlyText
title: L'Aubépine Contact
---
<h1>contacter l'Aubépine</h1>
<a href="mailto:contact@laubepine.net"> contact@laubepine.net </a>
<h1>S'inscrire à la newsletter</h1>
<p>Les champs obligatoires sont suivis d'une astérisque *</p>
<form action="https://formspree.io/mpzabyee" method="POST">
	<div class="form-group">
	  <label for="name">Votre prénom:</label>
	  <input type="text" id="name" placeholder="Exemple: François" required>
	</div>
	<div class="form-group">
	  <label for="surname">Votre nom de famille:</label>
	  <input type="text" id="surname" placeholder="Exemple: Mitterrand" required>
	</div>
	<div class="form-group">
	  <label for="mail">Votre email:</label>
	  <input type="email" id="mail" name="_replyto" placeholder="Exemple: francois.miterrand@yahoo.fr" required>
  </div>
	<div class="form-group">
	  <label for="city">Votre ville:</label>
	  <input type="text" id="city" placeholder="Exemple: Mulhouse" required>
	</div>
  <button type="submit">Send</button>
</form>