---
layout: withImages
title: Entre deux eaux
---
<h1>Entre deux eaux, sieste sonore en espace ouvert</h1>



<p>Entre deux eaux est une sieste sonore en environnement ouvert, pour un public confortablement installé. Dans un espace paysager ouvert, remarquable ou ordinaire, urbain ou rural, quel qu’il soit, un dispositif de diffusion constitué de quatre enceintes est disposé à bonne distance de l’auditoire. Le public est installé sur des tapis, dans l’herbe, ou dans des transats, il est invité à s’abandonner à l’écoute pendant 30 à 45 minutes. Le musicien est placé au sein du public avec un dispositif électronique sobre. Le concert consiste en la diffusion et la manipulation en temps réel de quelques échantillons sonores enregistrés sur le site dans les heures précédentes. Le lien fort entre les prises de son et l’environnement naturel du lieu pendant le concert permet un tissage délicat entre les sons du réels et la diffusion de matériaux électroacoustiques. Cette articulation propose le cisellement d’un paysage sonore et musical qui guide l’auditoire vers l’attention fine, le détail et la rêverie. Comme une couche de musique imaginaire, comme un ajout rythmique à la musique du monde, Entre deux eaux est une invitation à l’abandon, à la rêverie et au voyage.
</p>

<div class="img-row">
  <img class="img-row__img img-row__img__big" src="./assets/images/ret-DSCN7992.JPG" alt="" style="margin-bottom:20px">
</div>


<p><span style="font-style:italic">
Devant l'eau profonde, tu choisis ta vision ; tu peux voir à ton gré le fond immobile ou le courant, la rive ou l'infini ; tu as le droit ambigu de voir et de ne pas voir [...] Une flaque contient un univers. Un instant de rêve contient une âme entière.</span></br>

Gaston Bachelard, L’Eau et les rêves
</p>
<p>
Durée : de 30 à 45 minutes
Jauge : jusqu’à 150 personnes
Espace : espace ouvert propice à la détente
Créneau horaire : fin de matinée ou début d’après-midi
Besoins techniques : 1 arrivée électrique 16A + dispositif d’assise (tapis ou chaises longues) si le site ne permet pas de s’installer au sol. Système de diffusion fourni par la compagnie (4xPMX8+ampli).
Montage : 1 h
Démontage : 30 mn
</p>
