---
layout: withImages
title: l'Aubépine Accueil
---
<h1>compagnie l'Aubépine</h1>
<p class="main__paragraph">l'Aubépine est une compagnie de spectacle vivant indiscipliné basée à Toulouse. Créée en 2017, elle œuvre principalement sur le secteur des arts de la rue et de l'espace public par le moyen de formes artistiques variées et singulières. Elle porte notamment les productions d’Alban de Tournadre et développe progressivement dans le Comminges, au pied des Pyrénées, un projet qui vise à croiser culturel, artistique, « savoir-faire » et « faire ensemble ».
</p>

<div class="img-row">
  <img class="img-row__img img-row__img__big" src="./assets/images/5Z8A0576.jpg" alt=""/>
</div>
<h2>l'équipe</h2>
<p class="main_paragraph">
<span style="font-weight:bold">Alban de Tournadre</span>. Artiste pluridisciplinaire. Né en 1988. Après un cursus aux Beaux-Arts de Toulouse, il croise la route du Lido, l’école de cirque de Toulouse, de Serge Pey, poète, de plusieurs danseurs à travers des stages, à Toulouse et Paris. Il suit la formation au théâtre physique « vers un acteur pluriel  » du Ring. 2012, création d'Oranger la nuit, spectacle/laboratoire. 2013 il intègre la Fai-Ar à Marseille (formation à la création en espace public) qui lui permet d'amorcer Dans le vif, mise en scène de l'ordinaire, un projet de création in-situ. Dans le vif est actuellement en diffusion (2016 : Derrière Le Hublot - création, 2017 : Pronomades, 2018 : La Paperie). Après un accompagnement en production déléguée par Derrière Le Hublot, l’association l’Aubépine a vu le jour à Toulouse en 2017 et porte ses projets de création. En 2018, il créé Les mouvements des monstres, un dispositif d’improvisation sonore et d’interaction en temps réel avec des avions au décollage lors du festival Jeunes Pousses à Saulx-les-Chartreux. Laps, poème de cendre et de bruit, est un spectacle en cercle pour la rue, créé en juin 2019, qui entremêle le jonglage, la danse et les pratiques sonores. Ce solo est accompagné par Julie Lefebvre, ainsi que par les regards avisés de Johan Swartvagher et de Jean-François Vrod. Il collabore depuis 2015 avec la Compagnie sous X en tant que régisseur général, développeur et comédien (spectacles No visa for this country et Terre Commune). Il prend également part avec cette compagnie à un Contrat Local d’Éducation Artistique à Valenciennes qui l’incite à développer les liens entre création et action culturelle. 2019, grâce au dispositif Création en cours, préfiguration d’un spectacle très jeune public sur les questions de paysage sonore. Depuis 2011, il développe des outils de gestion d’événements appliqués au spectacle sur le logiciel de programmation Pure Data (son, lumière, vidéo...) et poursuit ses expérimentations sur les territoires de la musique improvisée et électroacoustique. Concerts dans des lieux alternatifs entre 2012 et 2017 avec le dispositif Broussailles. Il publie parfois des dessins dans des revues, il fait aussi de la photographies. Ses recherches se concentrent sur le réel et ses potentialités poétiques, sur la mémoire, la fragilité, le travail, les orages et l’odeur de l’herbe coupée. C’est une poétique à la fois simple, très marquée et un peu obsessionnelle qu’il met progressivement en place, en s’appuyant sur les matériaux et matières de son pays, le Comminges, au sud de la Haute-Garonne, aux pieds des Pyrénées. Site personnel : <a target="_blank" rel="noopener" href="http://vitessedechute.net/index.php">vitessedechute.net</a>
</p>
<p class="main_paragraph">
<span style="font-weight:bold">Julie Lefebvre</span>. D'abord formée à la danse classique puis à la danse contemporaine au sein du conservatoire de Bordeaux, elle mène une maîtrise en Arts du Spectacle mention Études en Danse ainsi qu'un semestre d'études à la Danshögskolan de Stockholm. Sa pratique de la danse est indissociable de la pratique de l'improvisation. Elle se forme à la FAIAR de 2009 à 2011, tout en menant des collaborations au sein de La Fabrique Fastidieuse. Dans le cadre de cette collaboration émergent deux spectacles Borderline blues en 2013 et VENDREDI en 2017. De 2012 à 2015, Julie Lefebvre est en résidence, au quotidien, dans une école maternelle de Lyon. Elle participe au projet Tabadol (éducation populaire et interculturalité) et accompagne en regard extérieur les créations de la Compagnie sous X, La compagnie du Doux Supplice et le collectif La Folie Kilomètre. 
</p>
<p class="main_paragraph">
<span style="font-weight:bold">Marie Lelardoux</span>. Après des études de Lettres Modernes et d’Arts du Spectacle, Marie Lelardoux participe, comme stagiaire à la mise en scène, aux répétitions de Matthias Langhoff sur L’inspecteur Général de Gogol, qui fera l’objet de son mémoire de Maîtrise « Sur le chantier d’un spectacle en construction » (2000). Elle suit des stages au cours desquels elle rencontre, notamment, Claire Ingrid Cottanceau, dont elle sera l’assistante de 2001 à 2005. Des cours d’art dramatique lui permettent de mener sa première mise en scène sur La dernière bande de Samuel Beckett (2001). Avec Elsa Manant, elles créent la compagnie émile saar en 2003 et travaillent à différentes adaptations et mises en scène autour de la figure de Cassandre. De 2006 à 2008, elle mène le projet Son visage, au repos en mouvement, de profil, de face, une vue immense, qui mènera à la création du spectacle aux Bancs Publics et sa diffusion en Sicile, au Teatro Libero de Palerme. Au cours de la saison 2006/07, elle participe à COLINA, Laboratoire d’artistes européens, répond à l’invitation du collectif Iba de Barcelone et assiste Claudio Collovà, metteur en scène, à l’Institut de détention pour mineurs de Palerme pour une adaptation du Roi Lear de Shakespaere. D’autre part, elle accompagne par le regard et l’écriture le prochain spectacle de Geneviève Sorin et Lulla Chourlin. Enfin, elle mène aussi plusieurs laboratoires et ateliers (Officina Ouragan de Palerme, Ecole Centrale Marseille, Théâtre des Bastides avec La Gare Franche, 3bisF). Elle conçoit et met en scène les spectacles La Maison ( 2011 – coproduction La Gare Franche / Les Bernardines), Utopia, tous des barbares (2014 – coproduction et compagnonnage de La Gare Franche).
  </p>
<p class="main_paragraph">
<span style="font-weight:bold">Jean-François Vrod</span>. Violoniste issu des musiques traditionnelles françaises, il commence à jouer du violon à l’adolescence en fréquentant le Folk-Club parisien «  Le Bourdon ». Il entreprend alors ses premières collectes sur les musiques de tradition orale dans les montagnes du massif central (Cantal, Haute-Loire) puis au sein de la colonie auvergnate de Paris. Préoccupé dans son travail tout autant par la valorisation des savoirs liés au répertoire collecté (il est co-fondateur des groupes « Café-Charbons », « Compagnie Chez Bousca », « Trio Violon ») que par un prolongement contemporain du geste particulier du musicien traditionnel, sa route est jalonnée de nombreux projets de création et de rencontres artistiques. Ainsi, il collabore ou croise à l’occasion de différents projets : Dominique Pifarely, Régis Huby, Chris Wood, Chris Joris, Alain Savouret, Abbi Patrix, Fantazio, Denis Charolles et la Campagnie des musiques à ouïr, Frédéric Le Junter, Frédéric Aurier et Sylvain Lemêtre au sein du trio La Soustraction des fleurs, le quatuor Bela, le Gmea d’Albi pour deux commandes d’état, Olivier Mellano, François Jeanneau, l’Ina-Grm, l’Imeb à Bourges, Jean Pierre Drouet, Fred Gastard, Jean Luc Faffchamps (Ensemble Ictus), Le Surnatural Orchestra… Ses deux derniers enregistrements avec le trio « La Soustraction des fleurs » sont publiés par Radio France au Label Signature, le troisième chez Umlaut records. Site personnel : <a target="_blank" rel="noopener" href="https://www.jf-vrod.com/">https://www.jf-vrod.com/</a>
</p>
<p class="main_paragraph">
<span style="font-weight:bold">Claire Bataille</span>. Diplômée du Master Projet Culturel dans l’Espace Public - Paris 1 et de la formation Administration du spectacle vivant du CFPTS, Claire Bataille travaille depuis une dizaine d’année dans le secteur culturel, notamment dans les arts de la rue, et a plaisir à accompagner les projets artistiques et culturels en tant qu’administratrice. Son expérience lui a permis d’acquérir une connaissance fine de la gestion associative, à la fois en matière de coordination d’une structure, de gestion administrative et budgétaire, de gestion du social et des ressources humaines, mais aussi de développement d’actions et de partenariats. Son attention se porte principalement sur le développement territorial et les projets artistiques et culturels de territoire. Militante de l’éducation populaire, elle souhaite développer des projets en lien avec les habitants, pour permettre à toutes et tous d'analyser, de penser, d'agir et de s'épanouir. Après avoir travaillé avec Alban de Tournadre plusieurs années dans le cadre d’une production déléguée, Claire rejoins l’Aubépine en 2019 pour accompagner les projets de l’association en tant qu’administratrice.
</p>
<p class="main_paragraph">
<span style="font-weight:bold">Ingrid Hamain</span>. Diplômée en arts du spectacle-Sorbonne Nouvelle, Ingrid Hamain vit et travaille dans la région bordelaise. Elle a travaillé jusqu’en 2018 et pendant 15 ans avec la compagnie Opéra Pagaï à la coordination générale des projets (80% de Réussite, Safari Intime, La Maison sur l’Eau, Cinérama, Far Ouest, Des Rives la Nuit…). En parallèle et depuis 2011, elle accompagne certaines créations de l’artiste bordelaise Anne-Cécile Paredes (O.L.A) et a également travaillé à la diffusion des spectacles de la compagnie Jeanne Simone (Nous Sommes, Mademoiselle…) entre 2015 et 2017. En 2019, elle a rejoint l’équipe du Carré-Colonnes (Scène Nationale Saint-Médard-en-Jalles/Blanquefort) à la coordination du projet « Dehors » développé dans le Médoc pour la saison 19/20, et travaille ponctuellement pour le festival Chahuts de Bordeaux (projet Travelling de Massimo Furlan-Numéro23 Prod) et la compagnie De Chair Et d’Os (Caroline Melon). Elle a rejoint au printemps 2019 l’Aubépine pour développer et déployer les projets de la compagnie. Par ailleurs, sur son temps libre, elle a effectué plusieurs missions avec l’Association Clowns Sans Frontières, en Thaïlande dans les camps de réfugiés Karen le long de la frontière birmane, et en Birmanie auprès des populations persécutées par le régime ou victimes de catastrophes naturelles.
</p>
