---
layout: withImages
title: L'Aubépine Laps, poème de cendre et de bruit
---

		<h1>Laps, poème de cendre et de bruit</h1>

		<p class="main__paragraph">Laps est un solo circulaire pour la place publique, situé quelque part entre le jonglage, la danse et le son. Par l’intermédiaire de quelques pauvres outils rouillés évoquant un imaginaire paysan ou son fantasme, on y rencontre tour à tour le sorcier, le mendiant, le travailleur, l’androgyne, le possédé, l’enfant ou le poète. Laps est un poème qui tente de parler dans sa langue d’un endroit commun laissé derrière nous. C’est le monde des choses, des bêtes, des hommes et des paysages. C’est le monde des peurs, des forces et des joies, des faiblesses et des folies. C’est la nécessité de faire le poème par la sueur, la voix, le feu et le temps.</p>

<iframe src="https://player.vimeo.com/video/379217413" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


		<div class="img-row">
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67328357_387362025300664_8716792962257780736_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67358614_387362531967280_4322752096567820288_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67534387_387362821967251_7764547220371668992_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67658682_387362735300593_4055810610581995520_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67069251_387362151967318_1593691952128196608_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67146832_387362405300626_7391890289830395904_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67164797_387362868633913_5461009083882536960_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67185607_387362485300618_1499531872269500416_o.jpg" alt=""/></div>
			<div class="img-row__container"><img class="img-row__img img-row__img__little" src="./assets/images/laps/67428272_387362075300659_8081256352137084928_n.jpg" alt=""/></div>

		</div>


<p class="main__paragraph">J’INVITE LE CERCLE À ADVENIR COMME LE MATIN ET COMME LE SOIR<br/>
QU’ENSEMBLE NOUS TRAVERSIONS LES CENTRES ET LES GÉOMÉTRIES<br/>
QUE NOUS AVALIONS CHACUN DES POINTS CARDINAUX<br/>
QUE NOUS VOMISSIONS LE SABLE TRANSFORMÉ DE L’ARÈNE EN DIAMANT<br/>
QUE NOUS MÉLANGIONS À NOUS MÊME LA POUSSIÈRE ET LA FUREUR<br/>
QUE NOUS SOYONS LA VIANDE<br/>
QUE NOS FORCES SURTOUT NE SOIENT PAS SUFFISANTES<br/>
QUE NOS OS BLANCHIS BRANDIS VERS LE CIEL S’ABATTENT ENCORE<br/>
QUE TU MEURES ET QUE JE MEURE<br/>
MAIS QUE LA BRÛLURE ELLE SOIT LA NOTRE<br/>
ET QUE LA JOIE FINALEMENT NOUS RECOUVRE<br/>
</p>

	
<p class="main_paragraph">
De et avec Alban de Tournadre<br/>
Accompagnement : Julie Lefebvre<br/>
Regard extérieur : Jean-François Vrod<br/>
Regard jonglage : Johan Swartvagher
</p>

<p>
Format : solo</br>
Durée : 35 minutes</br>
Site : extérieur, sol dur, type place centrale</br>
Dispositif : circulaire, aire de jeu de dix mètres de diamètre</br>
Crédits photo : MÔ Photographe</br>
</p>

<p class="main_paragraph">Première de création : juin 2019, l'Autre Festival, Derrière Le Hublot (12). Soutiens : aide à la résidence DRAC Occitanie, aide à la création région Occitanie, aide à la création département de la Haute-Garonne. Coproductions : théâtre du Périscope, Nîmes (30), Festi’Val d’Olt, le Bleymard (48), Superstrat - Parcours d'expériences artistiques, en réseau avec Quelque p’Arts – Centre National des Arts de la Rue et de l’Espace Public – Boulieu-les-Annonay (07) avec le soutien du château de Goutelas et du centre culturel le Bief, les Ateliers Frappaz, Centre National des Arts de la Rue et de l’Espace public, Villeurbanne (69), Espace Périphérique (Mairie de Paris – Parc de la Villette) (75). Accueils en résidence : Animakt, lieu de fabrique pour les arts de la rue, de la piste et d'ailleurs (91), la Petite Pierre (32), la Grainerie, fabrique des arts du cirque et de l'itinérance (31), la Transverse, Corbigny (58). Ce spectacle est accompagné par la Diagonale, réseau régional d’Occitanie pour la création artistique en espace public et soutenu par Occitanie en scène.
</p>
