---
layout: onlyText
title: L'Aubépine Dans le Vif
---

<h1>Dans le Vif, mise en scène de l'ordinaire</h1>
<h2>Un spectacle, une rencontre</h2>

<p class="main_paragraph">Les spectateurs sont invités sur un lieu précis. Par exemple un atelier, un site industriel, une cuisine privée ou collective, le jardin d'un particulier, un terrain de pétanque ou la place du marché. Le public assiste à un spectacle écrit spécifiquement pour ce site et ses occupants. Ils exécutent leurs actions habituelles, modifiées et réorganisées au sein d'un spectacle. Les gens jouent ici leur propre rôle. Le son des gestes est progressivement amplifié, une lumière désigne un détail ou bien un mouvement se répète étrangement, un acteur apparaît et déploie le geste du participant, un objet s'anime... Dans chaque lieu d'implantation, une nouvelle forme est inventée en relation étroite avec les personnes qui y participent, c'est une mise en scène de l'ordinaire. Dans le vif tente de rendre visible la poésie de l'ordinaire et invite le spectateur à une perception attentive du monde. C'est l'environnement des gens, leurs gestes, leurs activités, leurs objets qui constituent la matière première du spectacle. L'écriture spécifique qui est produite s'appuie sur le regard singulier de l'artiste et sa capacité à structurer des espaces ou des événements. Le quotidien est donné à voir au public, tour à tour accentué, perturbé, décalé ou simplement désigné. Le choix d'un contexte de travail adéquat et une complicité avec le producteur/organisateur, permettent d'intégrer de manière fine le projet à la vie du territoire. L'importance du processus d'écriture in-situ implique une présence dans la durée et une rencontre réelle avec les personnes. Dans le vif questionne et valorise les gens qui s'y engagent. Il offre une nouvelle relation au réel et propose une culture de proximité.</p>
<p class="main_paragraph">Dans le vif a été accueilli en 2016 par Derrière Le Hublot, en 2017 par Pronomade(s) en Haute-Garonne et en 2018 par la Paperie.</p>


<h2>Captations</h2>
<a target="_blank" href="https://danslevif.wixsite.com/danslevif/captations">ici</a>

<h2> L'ordinaire</h2>
<p class="main_paragraph">
LA VIEILLE QUI S'OCCUPE DE SES ROSIERS
AVEC SES SÉCATEURS ROUGES SA BLOUSE SA MARCHE VACILLANTE.
LA MISE À FEU D'UN TAS DE BRANCHES TOUTES VARIÉTÉS CONFONDUES
DANS UN PETIT MATIN AU BORD DE LA ROUTE PAR LE CANTONNIER
IL NE DOIT PAS FAIRE LOIN DE ZÉRO.
UNE VOITURE QUI PASSE AU LOIN DANS LE SOIR FROID.
UNE SECONDE QUI CROISE LA PREMIÈRE.
DANS UN CHENIL
LES CRIS DES CHIENS COMME DES VAGUES SONORES
AVEC DES PICS DES COLS DES CRÊTES BLANCHES.
LA PARTIE DE PÉTANQUE LES BOULES VOLENT COGNENT SEC
ET ÉTINCELLENT DE SABLE.
DES JEUNES SUR LEUR SCOOTER SUR LA PLACE QUI PARLENT PARTENT EN TROMBENT REVIENNENT ALLUMENT DES CIGARETTES DESCENDENT DE LEURS ENGINS REMONTENT OUVRENT UNE CANNETTE ALLUMENT UNE AUTRE CIGARETTE.
UN RIDEAU QUI FLOTTE DANS UN PEU D'AIR QUI PASSE.
UNE DAME QUI PROMÈNE SES TROIS CHIENS.
UN HOMME QUI TOND MÉTICULEUSEMENT LA PELOUSE DE SON JARDIN.
L'APICULTEUR ET SES NUÉES IMMENSES MINUSCULES NOIRES ENFUMÉES COSMONAUTE DE LA BRUYÈRE SUCRE JAUNE BRUN SOLEIL.
SAISIR AU VOL LE DÉTAIL
PALPABLE APPÉTISSANT TIMIDE UN PEU FROID FUGACE
MORCEAU D'ORDINAIRE CUEILLI MALGRÉ LES DOIGTS GOURDS
SUR LANGUE LE GOÛT DU JUS DE L'ORDINAIRE
SON SUCRE SA PETITE AMERTUME CISELÉE
PRENDRE UN BOUT D'AMERTUME INVISIBLE ET LE COLLER À UN AUTRE
AVEC PRÉCAUTION
RALENTIR FIGER ASSOUPLIR ACCÉLÉRER DENSIFIER FREINER TENDRE
SUSPENDRE FAIRE FONDRE OU DURCIR LA MATIÈRE SOUPLE DU RÉEL
ÉCRIRE LA PARTITION AVEC DES TRAITS DES LIGNES DES CERCLES
ET DE PETITS BÂTONS
PERTURBER À PEINE MAIS PERTURBER UN PEU
S'ÉLOIGNER S’ASSEOIR UN MOMENT REVENIR
ACUITÉ C'EST LA QUALITÉ DE CE QUI EST AIGU AFFÛTÉ TRANCHANT
PASSER À LA PIERRE SES PROPRES YEUX POUR MAINTENIR LEUR TRANCHANT
C'EST LA RAPIDITÉ DE LA CHAIR QUI PERÇOIT
C'EST DANS LE VIF QU'IL FAUT DÉCOUPER AVEC LES YEUX
C'EST LE BOUT DE VIANDE TENDRE
ET L'AUTRE PLUS CARTILAGINEUX QUI RÉSISTE
BATTRE L'ENNUI À CHAUD D'ODEURS ET LUMIÈRES
ACCUEILLIR L'HABITUDE COMME UNE AMIE
ELLE QUI TIENT LE POÈME DES DISCRÉTIONS
ET L'OFFRIR DOUCEMENT À CELUI QUI PASSE
</p>
<h2>Photographies</h2>
<a target="_blank" href="http://vitessedechute.net/noyant/noyant.html">Noyant</a><br/>
<a target="_blank" href="http://vitessedechute.net/montoulieu/montoulieu.html">Montoulieu</a><br/>
<a target="_blank" href="http://vitessedechute.net/latour/latour.html">Latour</a><br/>
<a target="_blank" href="http://vitessedechute.net/valleraugue/valleraugue.html">Valleraugue</a><br/>



<h2>Équipe</h2>
<p class="main_paragraph">Alban de Tournadre : Conception, mise en scène, dispositif, création sonore, jeu.<br/>
Marie Lelardoux (Cie Emile Saar) : Assistanat mise en scène, accompagnement, régie.<br/>
Philippe Pépiot : Développement Python.<br/>
Jordi Gali (Cie Arrangement provisoire) : Regard extérieur jeu.<br/>
Jean-François Vrod : Regard extérieur conception.<br/>
<h2>Mentions</h2>
Avec le soutien de la DGCA/SACD - Écrire pour la rue<br/>
Coproductions :<br/>
Derrière Le Hublot, Projet artistique et culturel de territoire, Capdenac / Grand Figeac. La Diagonale, réseau Languedoc-Roussillon pour la création artistique dans l'espace public (L’Atelline, Lieu de Fabrique Arts de la Rue Languedoc-Roussillon, les Elvis Platinés // Festival Les Transes Cévenoles et Mélando). le GMEA, Centre National de Création Musicale, Albi. Scènes Obliques</p>