<footer>
  <ul class="footer__content">
    <li>Association l’Aubépine 7 rue de l'Est 31400 Toulouse</li>
    <li><a target="_blank" rel="noopener" href="https://www.facebook.com/compagnielaubepine">facebook</a> </li>
    <li>siret 83161089400014 ape 9001Z licence 2-1104861</li>
    <li>Site créé et administré par Alban et Edmond de Tournadre</li>
  </ul>
</footer>