<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="keywords" content="">
	<meta name="description" content="l'Aubépine est une compagnie de spectacle vivant indiscipliné oeuvrant principalement sur le secteur des arts de la rue et de l'espace public">
	<meta name="title" content="L'Aubépine">
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
</head>