<div class="modal__background" id="modal">
	<div class="modal__content">
		<div class="modal__content__pane modal__content__pane__left">
			<div id="modal__content__pane__arrow__left" class="arrow modal__content__pane__arrow__left"></div>
		</div>
		<img id="modal__content__img-current" class="modal__content__img">
		<div class="modal__content__pane modal__content__pane__right">
			<div id="modal__content__pane__arrow__right" class="arrow modal__content__pane__arrow__right"></div>
		</div>
	</div>
</div>