<nav class="nav">
	<!-- burger menu button -->
	<div aria-label="menu-icon" aria-expanded="false" role="button" class="burger">
		<div class="burger__line"></div>
		<div class="burger__line"></div>
		<div class="burger__line"></div>
	</div>
	<ul aria-label="submenu" class="nav__menu">
		{% for item in site.data.navigation %}
  	<a href="{{ item.link }}">
  		<li class="nav__link {% if page.url == item.link %} nav__link__active {% endif %}">
  		{{ item.name }}
  		</li>
  	</a>
			{% if page.url contains "vif" and item.link contains "vif" %}
			<ul>
				{% for item in site.data.vifNavigation %}
				<a href="{{ item.link }}">
					<li class="nav__link nav__link__sub-link {% if page.url == item.link %} nav__link__active {% endif %}">
						{{ item.name }}
					</li>
				</a>
				{% endfor %}
			</ul>
			{% endif %}
  	{% endfor %}
	</ul>
</nav>