body {
	margin: 0;
	padding: 0;
	font-family: "Liberation Sans Serif", sans-serif;
	font-size: 0.9em;
	min-height: 100vh;
}

.background-container {
	position: absolute;
	z-index: -1;
	line-height: 0;
	width: 100%;
}

.background {
	width: 100%;
	object-fit: cover;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-weight: normal;
}

p {
margin-top:0;
}
iframe {
margin-bottom: 20px;
}

/* colonne centrale, contenu */
.main {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1em;
	line-height: 1.6;
	background-color: rgba(255,255,255,0.85);
}

.main a, footer a {
	color: red;
}

.main__paragragh {
	text-align: justify;
}



iframe {



}
