footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 20%;
	line-height: 1.5;
	background-color: rgb(200, 200, 200);
	font-size: 0.7em;
}

.footer__content {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 10%;
	margin-left: 2em;
}