body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
p {
margin-bottom: 20px;
}
/* gallerie */

.img-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.img-row__container {
	margin-bottom: 1em;
	height: 30vh;
}

.img-row__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-row__img:hover {
	cursor: pointer;
}

	.img-row__img__little {
		width: 100%;
	}

.img-row__img__big {
	max-width: 100%;
	object-fit: contain;
}

@media (min-width: 834px) {

	.main {
		width: 45%;
		margin-left: 25%;
	}

	.img-row__container {
		width: 30%;
	}

}

@media (min-width: 581px) and (max-width: 833px) {

	.main {
		width: 60%;
		margin-left: 15%;
	}
	.img-row__container {
		width: 48%;
	}
}

@media (max-width: 580px) {

	.main {
		width: 65%;
		margin-left: 10%;
	}

	.img-row__container {
		width: 100%;
	}
}
