.nav {
	position: fixed;
	width: 16%;
	left: 2em;
	top: 2em;
	padding: 1em;
	line-height: 1;
}

.nav a {
	text-decoration: none;
	color: rgb(20, 20, 20);
}

.nav__link {
	padding: 0.5em;
}

.nav__link:hover {
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0.85);
}

.nav__link__sub-link {
	text-indent: 2em;
}

.nav__link__active {
	color: rgb(0, 0, 0);
	font-weight:bold;
}

@media (min-width: 834px) {
}

@media (min-width: 581px) and (max-width: 833px) {

	.nav__menu {
		display: none;
		width: 400%;
		height: 80%;
		background-color: rgb(200, 200, 200);
	}

	.burger {
		width: 100%;
		padding: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 2.2em;
		height: 1.8em;
		background-color: rgb(220, 220, 220);
	}

	.burger:hover {
		cursor: pointer;
	  box-shadow: 0px 0px 0px 3px;
	}

	.burger__line {
		width: 100%;
		height: 0.3em;
		background-color: rgb(90, 90, 90);
	}
}


@media (max-width: 580px) {

	.nav {
		left: auto;
	}

	.nav__menu {
		display: none;
		width: 400%;
		height: 80%;
		background-color: rgb(200, 200, 200);
	}

		.burger {
		height: 100%;
		width: 100%;
		padding: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 2.2em;
		height: 1.8em;
		background-color: rgb(220, 220, 220);
	}

	.burger:hover {
		cursor: pointer;
	  box-shadow: 0px 0px 0px 3px;
	}

	.burger__line {
		width: 100%;
		height: 0.3em;
		background-color: rgb(90, 90, 90);
	}
}