/*diaporama*/
.modal__background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
	position: fixed;
	width: 98%;
	height: 98%;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: space-around;
	transform: translate(-50%, -50%);
}

.modal__content__img {
	width: 60vw;
	object-fit: contain;
}

.modal__content__pane {
	display: flex;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
}

.arrow {
	border: solid rgb(255, 255, 255);
	border-width: 0 1vw 1vw 0;
	padding: 2vw;
	display: inline-block;
	transform: rotate(135deg);
	cursor: pointer;
}

.modal__content__pane__arrow__left {
	transform: rotate(135deg);
}

.modal__content__pane__arrow__right {
	transform: rotate(-45deg);
}

@media (min-width: 834px) {

}

@media (min-width: 581px) and (max-width: 833px) {

}


@media (max-width: 580px) {
}