<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
    <div class="background-container">
      <img class="background" src="assets/images/background-02.JPG" alt="">
      <img class="background" src="assets/images/DSCN8231.JPG" alt="">
      <img class="background" src="assets/images/background-02.JPG" alt="">
      <img class="background" src="assets/images/DSCN8231.JPG" alt="">
    </div>
    {% include navigation.html %}
    <main class="main">
      {{ content }}
    </main>
    {% include footer.html %}
		<script type="text/javascript" src="/assets/js/all.js"></script>
  </body>
</html>
